
* {
    padding: 0;
    margin: 0;
}

.logo-text {
    text-align: center;
    padding: 15px;
}

.containers-main {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.container-main {
    padding: 10px;
    grid-column: span;
}

.container-img{
    position: sticky;
    top: 0;
    min-height: 100vh;
    background-image: url('/imgs/tenor.gif');
}

.containers-header {
    display: flex;
    gap: 10px;
    margin: 0;
    padding: 0;
}

.containers-header a {
    text-decoration: none;
    color: #51ff0d;
}

.center-h1 {
    text-align: center;
}

.header-btns-log {
    position: absolute;
    right: 30px;
}

.header-btns-main {
    left: 30px;
}

.containers-reg-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

.background-morph-img {
    position: relative;
    width: 100%;
}

.morh-signin {
    position: absolute;
    bottom: 13%;
    left: 23%;
    color: white;
    text-decoration: none;
    font-size: 30px;
    border: 2px solid darkcyan;
    background-color: blue;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
}

.morh-signup {
    position: absolute;
    bottom: 13%;
    right: 23%;
    color: white;
    text-decoration: none;
    font-size: 30px;
    border: 2px solid darkgoldenrod;
    background-color: red;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
}

.btn-huge {
    grid-row: span 2;
    grid-column: span 2;
}

.profile {
    display: grid;
    grid-template-columns: 300px 1fr;
    padding: 0 100px 0 100px;
}

.profile_img {
    border: 5px solid #718096;
}

.post {
    border: 3px solid #a0aec0;
}

header {
    position: sticky;
    top: 0;
    z-index: 101;
    border: green solid;
    background-color: #1a202c;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: #51ff0d;
}

.borders-left-right {
    border-left: green solid;
    border-right: green solid;
}

.is-invalid {
    border: 1px red solid;
}


